body {
  margin: 0;
  overflow: hidden;
}

#appBody {
  height: 97vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#sideMenu {
  flex-basis: 15%;
  height: 97vh;
  padding-top: 2vh;
}

#nav {
  padding-top: 5vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#header {
  text-align: right;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  cursor: default;
}

#footer {
  font-family: 'IBM Plex Sans', sans-serif;
  opacity: 0.5;
  padding-top: 7vh;
}

ul {
  padding-left: 0;
}

li {
  text-align: right;
  margin: 2vh;
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(109, 109, 109);
  /* font-family: 'Roboto', sans-serif; */
}

li:hover {
  color: black;
  cursor: pointer;
  font-weight: 500;
  opacity: 1;
  /* transform: scale(1.0675); */
  transition: all 0.75s ease;
}

#photoDisplay {
  flex-basis: 85%
}

#currentImage {
  max-height: 100%;
  max-width: 70%;
  align-self: center;
}

.direction-arrow {
  color: white;
  flex-basis: 16.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: color 1s;
}

.direction-arrow:hover {
  color: black;
  cursor: pointer;
}


#photo-display-container{
  padding: 6vh 6vh;
  height: 88vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
