body {
  overflow: hidden;
}

#appBody {
  height: 97vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#sideMenu {
  /* border: 5px solid black; */
  text-align: center;
  flex-basis: 15%;
  height: 100%;
  padding-top: 5%;
}

#nav {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

#photoDisplay {
  flex-basis: 85%
}

#currentImage {
  max-height: 760px;
  max-width: 70%;
}

.direction-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
}

#photo-display-container{
  padding-top: 5%;
  /* max-height: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}